
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1255px !important;
  margin: 0 auto;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  justify-items: center;
  gap: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  transition: 300ms;
  border-radius: 5px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.card:hover .card-overlay,
.card:hover .card-details {
  opacity: 1;
}

.card {
  width: 225px;
  height: 335px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: 300ms;
}

.card-details {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%); 
  opacity: 0;
  transition: 300ms;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.modal-cover {
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.modal {
  position: absolute;
  inset: auto;
  max-width: 800px;
  width: 90%;
  border-radius: 5px;
  transform: scale(0);
  background: #fff;
  z-index: 5;
  transition: 300ms;
  overflow: hidden;
}

.modal.active {
  transform: scale(1);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  z-index: 4;
  pointer-events: none;
  transition: 300ms;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}